/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/


body {
    background: url(bg.jpg);
    background-position: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding-top:45px;
}

a {
    color: #000;
    text-decoration: none;
}

    a :hover {
        color: #333;
        text-decoration: none;
    }

    a :visited {
        color: #000;
        text-decoration: none;
    }

.container {
    width: 500px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.logo {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    .logo img {
        width: 250px;
        margin-top: 70px;
        margin-left: -40px;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

.underc-text {
    width: 100%;
    margin-top: 90px;
    text-align: center;
    line-height: 1.6;
    font-size: 26px;
    letter-spacing: 1px;
}

    .underc-text p {
        text-align: center;
    }

.info {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1;

}

    .info div {
        width: 100%;
        padding: 2px;
        text-align:center;
    }

    .info span {
    }


.group {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 70px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    .group div {
        height: 40px;
        width: auto;
        float: left;
        margin: 10px;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

        .group div img {
            height: 40px;
            width: auto;
            cursor:pointer;
        }

        .group div img:hover {
            opacity:0.8;
        }