/* Panta BT */

::-moz-selection {
    background: white;
    color:red;
}

::selection {
    background: white;
    color: red;
}

.container {
    z-index: 99999;
    padding-top: 50px;
}

body {
    margin: 0px;
    padding: 0px;
    background: url(bg.jpg);
    background-position-x: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #616161;
    text-shadow: #e0e0e0 1px 1px 0;
    height: 100vh;
    width: 100vw;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    /*    filter: grayscale(100%) brightness(200%) saturate(0%) contrast(1000%);
    -webkit-filter: grayscale(100%) brightness(200%) saturate(0%) contrast(1000%);
    -moz-filter: grayscale(100%) brightness(200%) saturate(0%) contrast(1000%);*/
    opacity: 0;
    -webkit-transition: -webkit-filter 500ms linear;
    -webkit-transition: opacity 500ms linear
}

.body {
        -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    opacity:1;
/*    filter: grayscale(0%) brightness(100%) saturate(100%) contrast(100%);
    -webkit-filter: grayscale(0%) brightness(100%) saturate(100%) contrast(100%);
    -moz-filter: grayscale(0%) brightness(100%) saturate(100%) contrast(100%);*/
}

a {
    color: #000;
    text-decoration: none;
    transition: color 0.5s ease;
}

    a:hover {
        color: red !important;
        text-decoration: none;
    }

    a :visited {
        color: #000;
        text-decoration: none;
    }

.wrapper {
    max-width: 500px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

.logo {
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    .logo img {
        width: 250px;
        margin-top: 40px;
        margin-left: -60px;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

.underc-text {
    width: 100%;
    margin-top: 70px;
    text-align: center;
    line-height: 1.6;
    font-size: 30px;
    letter-spacing: 1px;
}

    .underc-text p {
        text-align: center;
    }

    .underc-text small {
        font-size: 24px;
    }


.info {
    width: 100%;
    display: inline-block;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1;
}

    .info div {
        width: 100%;
        padding: 2px;
        text-align: center;
        line-height: 1.2
    }

    .info span {
    }
    .info center{
        margin-top:7px;
    }

    .group {
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: auto;
        margin-top: 70px;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .group div {
        height: 40px;
        width: auto;
        float: left;
        margin: 10px;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

        .group div img {
            height: 40px;
            width: auto;
            cursor: pointer;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

            .group div img:hover {
                opacity: 0.8;
            }

.copyright {
    margin-top: 4px;
}

.progres {
    height: 10px;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #616161;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: solid 1px #999;
}

.completed {
    height: 15px;
    width: 50px;
    position: absolute;
    left: -5px;
    top: -5px;
    background-color: #fff;
    transition: width 0.5s ease;
}


@media only screen and (max-width : 768px) {

    .underc-text {
        font-size: 28px !important;
    }

}


@media only screen and (max-width : 426px) {

    .underc-text {
        font-size: 22px !important;
    }
}

@media only screen and (max-width : 321px) {

    .underc-text {
        font-size: 18px !important;
    }
}



/*
.shine {
    font-size:14px;
    font-weight:bold;
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

.chrome {
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    -webkit-background-size: 200px;
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}*/

@-webkit-keyframes shine {
    0% {
        background-position: -1000px;
    }

    100% {
        background-position: 1000px;
    }
}




canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index:-1;
}



::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(13deg, #c7ceff 14%,#f9d4ff 64%);
    }

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}